/** @format */

// Colors
$bg-color: #fff;
$main-color: #6c6c6f;
$btn-color: #ff817e;
$link-color: #263a41;
$heading-color: #1e2528;
$paragraf-color: #424242;
$btn-text-color: #555;

// Size
$heading-font-size: 49px;
