/** @format */

// Colors
$bg-color: #fff;
$main-color: #6c6c6f;
$btn-color: #ff817e;
$link-color: #263a41;
$heading-color: #1e2528;
$paragraf-color: #686868;
$btn-text-color: #555;
$btn-hover-color: rgba(255, 129, 126, .9);

// Size
$heading-font-size: 49px;
