/** @format */

// Colors
$bg-color: #fff;
$main-color: #6c6c6f;
$btn-color: #ff817e;
$border-color: #e3e6ea;
$link-color: #263a41;
$heading-color: #1e2528;
$paragraf-color: #686868;
$btn-text-color: #555;
$box-shadow-color: #f0f0f0;
$carousel-color: #fff9f8;
$border-bottom-color: #d4d3d3;
$input-field-color: #999;
$btn-hover-color: rgb(255 129 126 / 90%);

// Size
$heading-font-size: 49px;
