/** @format */
@media screen and (width >= 1024px) {
.about {
	

	

	&__abt{

		&__tagline {
			
			font-size: 22px;
			
		}

		&__sec-tittle {
			
			font-size: 40px;
			
		}

		&__desc {
			font-size: 20px
		}
	}
}
	
}
