/** @format */
@media screen and (width >= 1024px) {
	.appointment {
    
		&__img {
			display: block;
			margin-right: 50px;
			width: 30%;
		}

		&__appointment-form {
			&--input-field {
				font-size: 15px;
			}
		}
	}
}
