/** @format */
@media screen and (width >= 768px) {
	.banner {
		&__spa-image {
			display: block;
			position: absolute;
			right: 0;
			top: -142px;
			width: 40%;
		}
	}
}
@media screen and (width >= 1024px) {
	.banner {
		// Ovdje radimo preko banner__tittle__mixin.scss
		&__tittle {
			font-size: 24px;
		}

		&__heading {
			font-size: 56px;
		}

		&__desc {
			font-size: 22px;
		}

		&__video-btn {
			&__tittle-play {
				font-size: 18px;
			}
		}
	}
}
