/** @format */
@media screen and (width >=768px) {
	.service {
		&__sec-tittle {
			font-size: 38px;
		}

		&__two,
		&__free {
			display: block;

			&:hover {
				.service__single-service--hover {
					bottom: 0;
				}
			}
		}
	}
}
@media screen and (width >=992px) {
	.service {
		&__four {
			display: block;

			&:hover {
				.service__single-service--hover {
					bottom: 0;
				}
			}
		}
	}
}
