/** @format */
.service {
	margin-bottom: 40px;
	padding: 50px 0;

	&__two,
	&__free,
	&__four {
		display: none;
	}

	&__single-service {
		cursor: pointer;
		// Ovo overflow drzimo zakomentarisano dok sve ne napravimo pa ga onda otkomentarisemo
		overflow: hidden;
		position: relative;

		> img {
			width: 100%;
		}
		// Ovdje poziciju stavljamo na bottom -100%
		&--hover {
			align-items: center;
			background-color: $btn-hover-color;
			bottom: -100%;
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			position: absolute;
			transition: all 0.5s ease-in-out;
			width: 100%;

			span {
				color: $bg-color;
				font-family: Rufina, serif;
				font-weight: 700;
				margin-top: 3%;
			}
		}
	}
	// Ovdje poziciju stavljamo na 0
	&__one {
		&:hover {
			.service__single-service--hover {
				bottom: 0;
			}
		}
	}
}
