/** @format */

.testimonial {
	background-color: $carousel-color;
	border: 1px solid $border-color;
	text-align: center;

	&__single {
		> img {
			margin: 0 auto 45px;
		}

		> p {
			color: $paragraf-color;
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 1.6;
			line-height: 35px;
			margin-bottom: 43px;
		}
	}

	&__client-info {
		> img {
			border-radius: 50%;
			height: 76px;
			margin-bottom: 22px;
			width: 76px;
		}

		> p {
			font-size: 18px;
			margin-bottom: 22px;

			> span {
				font-size: 16px;
				font-weight: 700;
			}
		}
	}

	& .carousel-indicators {
		margin-bottom: 45px;

		&-btn {
			background-color: $btn-color; // Postavite boju dugmadi
		}
	}
}
